.study_card {
  min-height: 400px;
  width: 90%;
  position: relative;
  padding: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #374157;
  margin-bottom: 50px;
  /* background-image: url("../images/studyCardBG3.jpg"); */
  background-size: cover;
}

.study_card_part_name {
  color: #CDCDCD;
  text-shadow: 3px 3px 1px #848484;
  writing-mode: vertical-rl;
}

.study_card_inner {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: #888f9b;
  border: 4spx solid #6b7077;
  border-radius: 4px;
  padding: 20px 30px;
}


.study_card_item {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}


.study_card_title {
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 2px #6b7077;
  padding-left: 4%;
}

/* !!! test */
.study_card_University1{
  background-image: url("../images/studyCardBG3.jpg");
}

.study_card_University2 {
  flex-direction: row;
  background-image: url("../images/studyCardBG2.jpg");
}

.study_card_University3 {
  background-image: url("../images/studyCardBG5.jpg");
}

.study_card_SeniorHighSchool1{
  background-image: url("../images/IC.jpeg");
}

.study_card_SeniorHighSchool2 {
  flex-direction: row;
  background-image: url("../images/scouts.jpeg");
}