* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.studyBox {
  position: relative;
  height: auto;
  min-width: 75%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: #5f6d89;
  border-radius: 2px;
}

.studyBox .study_container {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* button */

.study_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

.study_buttons .study_btn {
  display: flex;
  font-weight: 300;
  padding: 1rem 2rem;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #d1dddb;
  border: #374157 2px solid;
  text-align: center;
  border-radius: 8px;
}

.study_buttons .study_btn4 .study_Text {
  transition: 0.5s;
}

.study_buttons .study_btn4 .study_left,
.study_buttons .study_btn4 .study_right,
.study_buttons .study_btn4:before,
.study_buttons .study_btn4:after {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  background: #d1dddb;
  transition: 0.5s;
  border-radius: 16px;
}

.study_buttons .study_btn4:before,
.study_buttons .study_btn4:after {
  content: "";
}

.study_buttons .study_btn4:hover .study_Text {
  background: #374157;
  color: #fff;
}

.study_buttons .study_btn4:hover {
  background: #374157;
}

.study_buttons .study_btn4:hover .study_left,
.study_buttons .study_btn4:hover .study_right {
  top: 0;
  width: 2px;
  height: 100%;
}

.study_buttons .study_btn4:hover .study_left {
  left: 0;
}

.study_buttons .study_btn4:hover .study_right {
  left: calc(100% - 2px);
}

.study_buttons .study_btn4:hover:before,
.study_buttons .study_btn4:hover:after {
  height: 2px;
  width: 100%;
  left: 0;
}

.study_buttons .study_btn4:hover:before {
  top: 0;
}

.study_buttons .study_btn4:hover:after {
  top: calc(100% - 2px);
}

@-webkit-keyframes wow {
  to {
    height: 20rem;
    width: 20rem;
  }
}

@keyframes wow {
  to {
    height: 20rem;
    width: 20rem;
  }
}

@-webkit-keyframes noway {
  to {
    height: 1rem;
    width: 1rem;
  }
}

@keyframes noway {
  to {
    height: 1rem;
    width: 1rem;
  }
}

/* content */

.button-86 {
  all: unset;
  width: 100%;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #374157;
  border-radius: 2px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(25px, 25px);
}

.button-86:hover::after {
  border-radius: 2px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}