.study_card_foto_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.study_card_foto_card {
  height: 150px;
  width: 150px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.study_card_foto_card1 {
  background: url("../images/IM.jpeg") center center no-repeat;
  background-size: 150px;
}

.study_card_foto_card2 {
  background: url("../images/IT.jpeg") center center no-repeat;
  background-size: 150px;
}

.study_card_foto_card3 {
  background: url("../images/card3.jpg") center center no-repeat;
  background-size: 150px;
}
.study_card_foto_card3:hover {
  background: url("../images/LBJ1.png") left center no-repeat;
  background-size: 150px;
}
.study_card_foto_card4 {
  background: url("../images/card4.jpg") center center no-repeat;
  background-size: 150px;
}
.study_card_foto_card4:hover {
  background: url("../images/LBJ2.png") left center no-repeat;
  background-size: 150px;
}

.study_card_foto_card5 {
  background: url("../images/hdc1.jpeg") center center no-repeat;
  background-size: 150px;
}

.study_card_foto_card6 {
  background: url("../images/hdc2.jpeg") center center no-repeat;
  background-size: 150px;
}

.study_card_foto_card7 {
  background: url("../images/information.jpeg") center center no-repeat;
  background-size: 150px;
}

.study_card_foto_card8 {
  background: url("../images/redOwl.jpg") center center no-repeat;
  background-size: 150px;
}